.Heading{
    color: black;
    text-align: center;

}
.form1,.form2,.form3{
    text-align: center;
    border: 2px solid #2f0404;
    padding: 10px;
    /* margin-top: 5px; */
    width: 30vw;
    margin: auto;
}
